%p
  = f.label :title
  %br
  = f.text_field :title, :class => 'title'
%p
  = f.label :url
  %br
  = f.text_field :url, :class => 'text'
%p
  = f.label :source_type
  %br
  = f.select :source_type, EventSource::SOURCE_TYPES