- content_for :head do
  = GMap.header(:host => request.host)
  = @map.to_html

.span-14
  :textile
    h2. Willkommen bei der Deutschen Rails-Usergroup.

    Die Rails-Usergroup Deutschland wurde von Jan Krutisch und Ramon Wartala 2005 gegründet. Die "Mailingliste":http://mailman.headflash.com/listinfo/rubyonrails-ug als Kern der Usergroup hat zur Zeit ca. 300 Mitglieder.
    
    Um den Gebrauchswert der Usergroup-Webseite deutlich zu erhöhen, wurde Anfang 2009 mit dem Start einer kleinen, aber feinen Rails-Software begonnen. Die Software wird von Jan und den Mitgliedern der Usergroup kollektiv auf "GitHub.com":http://github.com/halfbyte/rugtool entwickelt.

  .span-7
    %h2 
      Events
      == (#{link_to "was ist das?", "#"})
    %ul
      = render :partial =>  @events
      %li= link_to "Alle events", events_path
  .span-7.last
    %h2 Gruppen
    %ul
      = render :partial => @groups
      %li= link_to "Alle Gruppen", groups_path

.span-8.last
  %h2
    Map
  = @map.div(:width => 310, :height => 310)
  %h2 News
  %ul
    - @news.each do |item|
      %li
        %h3= link_to(h(item.title), item.url)
        = simple_format(h(item.description))
    %li= link_to('Alle News', "http://rubyonrails-ug-de.tumblr.com/")

.span-8.last
