.span-16
  :textile
    h2. Willkommen bei der Deutschen Rails-Usergroup.

    Die Rails-Usergroup Deutschland wurde von Jan Krutisch und Ramon Wartala 2005 gegründet. Die "Mailingliste":http://mailman.headflash.com/listinfo/rubyonrails-ug als Kern der Usergroup hat zur Zeit ca. 300 Mitglieder.
    
    Um den Gebrauchswert der Usergroup-Webseite deutlich zu erhöhen, wurde Anfang 2009 mit dem Start einer kleinen, aber feinen Rails-Software begonnen. Die Software wird von Jan und den Mitgliedern der Usergroup kollektiv auf "GitHub.com":http://github.com/halfbyte/rugtool entwickelt.

.span-8.last
  %h2 Links
  %ul
    %li 
      =link_to "Mailingliste", 'http://mailman.headflash.com/listinfo/rubyonrails-ug'
    %li
      = link_to "Archiv", 'http://mailman.headflash.com/private/rubyonrails-ug/'
    %li
      = link_to "Wiki", "http://planet.rubyonrails-ug.de/"
    %li
      = link_to "Planet (News-Aggregator)", ""

.span-8
  %h2 
    Events
    (
    = link_to "was ist das?", "#"
    )
  %ul
    - @events.each do |event|
      %li
        %h3= link_to h(event.title), event.url
        %p= sanitize(event.description)
    %li= link_to "Alle events", "#"
.span-8
  %h2 Gruppen
  %ul
    %li Hier mal so ein Event stylen

.span-8.last
  %h2 Artikel
  %ul
    %li Hier mal so ein Event stylen
