<h1>Editing planet_feed</h1>

<% form_for(@planet_feed) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :feed_url %><br />
    <%= f.text_field :feed_url %>
  </p>
  <p>
    <%= f.label :accepted_at %><br />
    <%= f.datetime_select :accepted_at %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @planet_feed %> |
<%= link_to 'Back', planet_feeds_path %>
