.span-16
  %h2
    Aktive Planet-Feeds

  %ul.feed-list
    = render :partial => 'feed', :collection => @planet_feeds
  %h2
    Neue Vorschläge

  %ul.feed-list
    = render :partial => 'feed', :collection => @new_planet_feeds
        
.span-8.last    
  %h2 Neuen Feed vorschlagen
  
  %p
    Um einen Feed vorzuschlagen brauchst Du nur die URL eines Feeds oder einer Webseite, die einen Feed anbietet hier einzutragen. Die Feeds werden regelmäßig überprüft und freigegeben.


  - form_for(@planet_feed) do |f|
    = f.label :feed_url
    %br
    = f.text_field :feed_url, :class => 'text'
    = f.submit "Vorschlagen"