<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>rugtooler</title>
	<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <!--[if IE]>
    <%= stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection' %>
  <![endif]-->
</head>

<body>
  <div class="container">
    <div class="span-24" id="header">
      <h1><%= link_to "Ruby on Rails-Usergroup Deutschland", root_path %></h1>
    </div>
    <div class="span-24" id="menu">
      <% if !current_user %>
        <%= link_to "Register", new_account_path %> |
        <%= link_to "Log In", new_user_session_path %> |
      <% else %>
        <%= link_to "My Account", account_path %> |
        <%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
      <% end %>      
    </div>
    
    
    <%= yield %>
    <div class="span-24" id="footer">
      rubyonrails-ug.de - eine Initiative von jan.krutisch.de und der mindmatters GmbH &amp; Co. KG
    </div>
  </div>
</body>
</html>
