!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    = yield :head
    %title
      = @title || "No Title set you bloody idiot"
      \- Rails Usergroup Deutschland
    = stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection'
    = stylesheet_link_tag 'blueprint/print', :media => 'print'
    = stylesheet_link_tag 'screen', :media => 'screen, projection'
    /[if IE]
      = stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection'
  %body
    .container
      #header.span-24
        %h1.span-16.prepend-8.last
          = link_to "Rails Usergroup Deutschland", root_path
        %ul#menu.span-16.prepend-8.last
          %li 
            =link_to "Mailingliste", 'http://mailman.headflash.com/listinfo/rubyonrails-ug'
          %li 
            =link_to "Lokale Gruppen", groups_path
          %li
            = link_to "Wiki", "http://rubyonrails-ug.de/wiki/"
          %li
            = link_to "Planet", "http://planet.rubyonrails-ug.de/"
            (
            = link_to "Feeds", planet_feeds_path
            )
          %li
            = link_to "Events", events_path
            (
            = link_to "Quellen", event_sources_path
            )
          %li.last
            = link_to "Impressum", imprint_path
      #content.span-22.prepend-1.append-1
        - if flash[:notice]
          .notice
            = flash[:notice]
        .advertisement
          :plain
            <object width="486" height="60">
            <param name="movie" value="http://rubyonrails-ug.de/railswaycon_468x60.swf">
            <embed src="http://rubyonrails-ug.de/railswaycon_468x60.swf" width="468" height="60">
            </embed>
            </object>
        = yield
      #footer.span-22.prepend-1.append-1
        rubyonrails-ug.de - betreut von
        = link_to "jan.krutisch.de", "http://jan.krutisch.de/"
        \- news auf
        = link_to "tumblr", "http://rubyonrails-ug-de.tumblr.com/"
    #login-box
      - if !current_user
        = link_to "Registrieren", new_account_path
        = link_to "Anmelden", new_user_session_path
      - else
        Angemeldet als
        = link_to h(current_user.login), account_path
        (
        = link_to "Abmelden", user_session_path, :method => :delete, :confirm => "Willst Du Dich wirklich abmelden?"
        )
        
    